/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.smooth-shadow{
  box-shadow: rgba(47, 43, 61, 0.1) 0px 4px 18px 0px;
}

.neat-text {
  color: rgba(47, 43, 61, 0.78);
}

.student{}

.student:hover{
  background-color: #eafdd8;
}