$main-font: sans-serif;
$color-1: #7cea9c;
$color-2: #55d6be;
$color-3: #2e5eaa;
$color-4: #5b4e77;
$color-5: #593959;

$color-1-hover: #5caf74;
$color-1-semi-transparent: #7cea9bb6;

$primary: $color-1;
