@use 'base';
$primary: base.$color-1;
$admin: #e17e7e;
@import './node_modules/bootstrap/scss/bootstrap';

.bg-red {
  background-color: $admin;
  --bs-bg-opacity: 1;
}

.edit-menu {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
