.profile-pic-size{
    width: 48px;
    height: 48px;
}

.spinner-size{
    width: 48px;
    height: 48px;
}

.account-button{
    transition: 0.2s;
}

.account-button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}